aiohttp==3.7.4.post0
anyio==3.6.1
APScheduler==3.9.1.post1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
astroid==2.12.10
asttokens==2.0.5
async-generator==1.10
async-timeout==3.0.1
attrs==21.4.0
Babel==2.10.1
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==5.0.0
bs4==0.0.1
CacheControl==0.12.11
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
cleo==2.0.1
colorama==0.4.5
comtypes==1.1.10
crashtest==0.4.1
cryptography==36.0.2
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.5.1
discord.py==2.1.0
distlib==0.3.6
dj-database-url==1.2.0
Django==4.1.5
django-environ==0.9.0
djangorestframework==3.14.0
dulwich==0.20.50
entrypoints==0.4
executing==0.8.3
fastjsonschema==2.15.3
filelock==3.9.0
fonttools==4.33.3
gcloud==0.18.3
google-auth==2.15.0
google-auth-oauthlib==0.7.1
googleapis-common-protos==1.56.0
gspread==5.7.2
gunicorn==20.1.0
gurobipy==10.0.0
h11==0.13.0
html5lib==1.1
httplib2==0.20.4
idna==3.3
image==1.5.33
importlib-metadata==6.0.0
install==1.3.5
ipykernel==6.13.0
ipython==8.3.0
ipython-genutils==0.2.0
isort==5.10.1
jaraco.classes==3.2.3
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
json5==0.9.8
jsonschema==4.17.3
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyter-server==1.17.0
jupyterlab==3.4.2
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
jwcrypto==1.0
keyring==23.13.1
kiwisolver==1.4.2
lazy-object-proxy==1.7.1
lockfile==0.12.2
MarkupSafe==2.1.1
matplotlib==3.5.2
matplotlib-inline==0.1.3
mccabe==0.7.0
mistune==0.8.4
more-itertools==9.0.0
MouseInfo==0.1.3
msgpack==1.0.4
multidict==6.0.2
nbclassic==0.3.7
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.11
notebook-shim==0.1.0
numpy==1.22.4
oauth2client==4.1.3
oauthlib==3.2.2
outcome==1.2.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pkginfo==1.9.6
platformdirs==2.5.2
poetry==1.3.2
poetry-core==1.4.0
poetry-plugin-export==1.2.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.0rc2
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py-cord==2.3.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pybrowsers==0.4.1
pycparser==2.21
pycryptodome==3.14.1
PyGetWindow==0.0.9
Pygments==2.12.0
pylint==2.15.3
PyMsgBox==1.0.9
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyperclip==1.8.2
Pyrebase4==4.5.0
PyRect==0.1.4
pyrsistent==0.18.1
PyScreeze==0.1.28
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-jwt==3.3.2
pytweening==1.0.4
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywin32==303
pywin32-ctypes==0.2.0
pywinauto==0.6.8
pywinpty==2.0.5
pyzmq==23.0.0
rapidfuzz==2.13.7
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rsa==4.8
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
selenium==4.3.0
Send2Trash==1.8.0
shellingham==1.5.0.post1
six==1.16.0
sklearn==0.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
sqlparse==0.3.1
stack-data==0.2.0
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tomli==2.0.1
tomlkit==0.11.5
tornado==6.1
traitlets==5.2.1.post0
trio==0.21.0
trio-websocket==0.9.2
trove-classifiers==2023.1.12
typing_extensions==4.3.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
virtualenv==20.17.1
wcwidth==0.2.5
webdriver-manager==3.8.0
webencodings==0.5.1
websocket-client==1.3.2
wrapt==1.14.0
wsproto==1.1.0
yarl==1.7.2
zipp==3.11.0
