.mainContainer {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .wrapper {
        width: 100vw;
        height: 100vh;
        display: flex;
        position: relative;

        .backdrop {
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        background-color: rgba(#979797, 0.2);
                        z-index: 5;
                    }
    }

    .lhs {
        position: sticky;
        top: 0;
        left: 0;
        bottom: 0;
        width: 228px;
        display: flex;
        height: 100%;
        background: #f4f5f7;
    }

    .rhs {
        position: sticky;
        right: 0;
        width: 100%;
        width: calc(100vw - 228px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        background: #fff;
        align-items: center;
        overflow: hidden;

        &.whiteBackground {
            background: #FFFFFF;
        }

        &.fullWidth {
            left: 0px;
            width: 100vw;
        }

        .contentContainer {
            width: 100%;
            height: 100%;
            // min-height: calc(100% - 60px);
            overflow: auto;
            padding-top: 72px;
            position: relative;
            // top: 72px;
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }

        .contentContainer::-webkit-scrollbar {
            width: 0;
            /* Remove scrollbar space */
            background: transparent;
            /* Optional: just make scrollbar invisible */
        }
    }
    .wrapperWithTopbar {
        height: calc(100vh - 46px);
    
    }
}




// .mainContainer {
//     width: 100vw;
//     height: 100vh;
//     overflow: hidden;

//     // &.studentLayout {
//     //     @include if-device(phone) {
//     //         display: none;
//     //     }
//     // }

//     :global {
//         .katex {
//             position: relative;
//             font-size: 1em;
//             line-height: inherit;
//             font-weight: inherit;
//         }
//     }

//     .wrapper {
//         width: 100vw;
//         height: 100vh;
//         display: flex;
//         position: relative;

//         .backdrop {
//             height: 100%;
//             width: 100%;
//             position: absolute;
//             background-color: rgba(#979797, 0.2);
//             z-index: 5;
//         }

//         .lhs {
//             position: sticky;
//             top: 0;
//             left: 0;
//             bottom: 0;
//             width: 228px;
//             display: flex;
//             height: 100%;
//             background: #f4f5f7;
//         }

//         .rhs {
//             position: sticky;
//             right: 0;
//             width: 100%;
//             width: calc(100vw - 228px);
//             display: flex;
//             flex-direction: column;
//             align-items: flex-start;
//             justify-content: flex-start;
//             height: 100%;
//             background: $white;
//             align-items: center;
//             overflow: hidden;
//             &.whiteBackground {
//                 background: #FFFFFF;
//             }
//             &.fullWidth {
//                 left: 0px;
//                 width: 100vw;
//             }

//             .contentContainer {
//                 width: 100%;
//                 height: 100%;
//                 // min-height: calc(100% - 60px);
//                 overflow: auto;
//                 padding-top: 72px;
//                 position: relative;
//                 // top: 72px;
//                 -ms-overflow-style: none;  /* IE and Edge */
//                 scrollbar-width: none;  /* Firefox */
//             }
//             .contentContainer::-webkit-scrollbar {
//                 width: 0;  /* Remove scrollbar space */
//                 background: transparent;  /* Optional: just make scrollbar invisible */
//             }
//         }
//     }
//     .wrapperWithTopbar {
//         height: calc(100vh - 46px);
//     }
// }

// @media screen and (max-width: 1000px) {
//     .mainContainer {
//         .wrapper {
//             .lhs {
//                 position: absolute;
//                 height: 100%;
//                 z-index: 5;
//                 left: -100%;
//                 transition: all 0.5s ease-in;

//                 &.active {
//                     left: 0;
//                 }
//             }

//             .rhs {
//                 width: 100vw;
//                 left: 0;
//             }
//         }
//     }
// }